<h6><a href="{{@blog.url}}/about">About</a></h6>
<div class="fb-like-box" data-href="https://www.facebook.com/blogandremidea" data-width="250" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>